n8n-workflow-nuevo-modelo.json
{
  "name": "FoodGestor - Procesar Ingredientes v3 (Nuevo Modelo)",
  "nodes": [
    {
      "parameters": {
        "path": "procesar-ingrediente",
        "responseCode": 200
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://world.openfoodfacts.org/cgi/search.pl",
        "sendQuery": true,
        "queryParameters": "search_terms={{ $json.nombre }}&json=1"
      },
      "id": "http",
      "name": "OpenFoodFacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "nombre",
              "value": "={{ $json.nombre }}"
            },
            {
              "name": "descripcion",
              "value": "={{ $node[\"OpenFoodFacts\"].json.products?.[0]?.product_name || \"\" }}"
            },
            {
              "name": "tipo",
              "value": "={{ $node[\"OpenFoodFacts\"].json.products?.[0]?.categories || \"\" }}"
            },
            {
              "name": "intolerancias",
              "value": "={{ ($node[\"OpenFoodFacts\"].json.products?.[0]?.allergens || \"\").split(\",\").map(a => a.trim()).filter(a => a.length > 0).join(\",\") }}"
            },
            {
              "name": "aditivos",
              "value": "={{ ($node[\"OpenFoodFacts\"].json.products?.[0]?.additives_original_tags || []).map(a => a.replace(\"en:\", \"\")).join(\",\") }}"
            },
            {
              "name": "origen",
              "value": "={{ $node[\"OpenFoodFacts\"].json.products?.[0]?.origins || \"\" }}"
            },
            {
              "name": "organico",
              "value": "={{ ($node[\"OpenFoodFacts\"].json.products?.[0]?.labels || \"\").toLowerCase().includes(\"organic\") || ($node[\"OpenFoodFacts\"].json.products?.[0]?.labels || \"\").toLowerCase().includes(\"eco\") }}"
            },
            {
              "name": "notas",
              "value": "={{ \"Marca: \" + ($node[\"OpenFoodFacts\"].json.products?.[0]?.brands || \"Desconocida\") + \" | Fuente: OpenFoodFacts\" }}"
            },
            {
              "name": "fuente_datos",
              "value": "n8n"
            }
          ]
        }
      },
      "id": "set",
      "name": "Set - Procesar Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenFoodFacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenFoodFacts": {
      "main": [
        [
          {
            "node": "Set - Procesar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {}
}
